<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Book Me In</title>
</head>
<body class="text-center">

    <%- include('partials/nav') %>

    <header>
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/images/vid.mp4" type="video/mp4">
      </video>
      <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <h1>We could all use a haircut right now</h1>
            <h3>Book your appointment today.</h3>
            <p><a class="btn btn-lg btn-primary mt-3" href="/company" role="button">BOOK ONLINE </a></p>
          </div>
        </div>
      </div>
    </header>
      
      <div class="container mt-5">
      <div class="card-deck">

        <% companies.forEach((company, index) =>{ %>
          <%  if(index > 2){ %>
             <% return  %>  
          <% } %>
          <div class="card">
            <img class="card-img-top" src="<%= company.image %>" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title"><%= company.name %> </h5>
              <p class="card-text"><%= company.address %></p>
              <button type="button" class="btn btn-outline-primary pr-4 pl-4"><a href="./company/<%=company._id %>">Book</a></button>
            </div>

          </div>
        <% }) %>

        </div>
      </div>
      </div>

      <%- include('partials/footer') %>
  </body>
</html>