<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Book Me In</title>
</head>
<body class="text-center">

    <%- include('partials/nav') %>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="img-fluid slide" src="/images/hero.jpeg" alt="first slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Online Booking Application</h1>
            <p>Book your appointment today.</p>
            <p><a class="btn btn-lg btn-primary" href="/register" role="button">BOOK ONLINE </a></p>
          </div>
        </div>
      </div>
    </div>
      
      <div class="container mt-5">
      <div class="card-deck">

        <% companies.forEach(company =>{ %>
          <div class="card">
            <img class="card-img-top" src="<%= company.image %>" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title"><%= company.name %> </h5>
              <p class="card-text"><%= company.address %></p>
            </div>
          </div>
        <% }) %>

        </div>
      </div>
      </div>

      <%- include('partials/footer') %>
  </body>
</html>