<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>company details</title>
</head>
<body>
    <header>
        <h1>Show Page</h1>

    </header>
    <article>
        <h3><%=company.name %></h3>
        <div>
            <%= company.address %>
            <p>
                <strong>Email : </strong><%= company.email %>
                <strong>Phone Number : </strong><%= company.phoneNumber %>
            </p>
        </div>
        
        <a href="/company/<%=company._id%>/edit"  style="color:blue;">Edit</a>

     </article>

  


</body>
</html>