<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Edit User</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>User Edit Page</h1>
    <section>
        <form action="/user/<%=foundUser._id%>?_method=PUT" method="POST">
           
            Name : <input type="text" name="name" value="<%=foundUser.name %>"><br>
            Phone Number: <input type="text" name="phoneNumber" value="<%=user.phoneNumber%>"><br>
            Email : <input type="email" name="email"  value="<%=foundUser.email %>"><br>
            <input type="submit" value="SUBMIT CHANGES">
    
        </form>
        </section>
</body>
</html>