<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>My Account</title>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mt-5">
      <div class="row">

        <!--  Account Info -->

        <div class="col">
          <h4 class="text-center">Account Details</h4>
          <ul class="list-group list-group-flush mt-4 white-bg">
            <li class="list-group-item"><%=foundUser.name %></li>
            <li class="list-group-item"><%= foundUser.email %></li>
            <li class="list-group-item"><%= foundUser.phoneNumber %></li>
            <li class="list-group-item">
              <a href="/user/<%=foundUser._id%>/edit">Edit My Account</a>
            </li>
            <li class="list-group-item">
              <form action="/user/<%=foundUser._id%>?_method=DELETE" method="POST" >
                <input type="submit" value="Delete My Account" class="btn btn-lg btn-block red-bg" />
              </form>
          </li>
          </ul>
        </div>
         <!--  My Bookings -->

        <div class="col">
          <h4 class="text-center">My Bookings</h4>
          <div class="container">
            <div class="card text-center card-account">
              <% bookings.forEach((booking) =>{ %>
      
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h3>
                    <%= booking.day %> <br />
                    <%= booking.time %>
                  </h3>
                  <h5><%= booking.company.name %></h5>
      
                  <p>
                    <%= booking.company.address %> <br />
                    <strong>Email: </strong><%= booking.company.email %> <br />
                    <strong
                      ><i class="fas fa-phone-square-alt"></i> <%=
                      booking.company.phoneNumber %>
                    </strong>
                  </p>
                </li>
      
                <% }) %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
