<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>User Details</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>User Show Page</h1>
    <article>
        <h3><%=foundUser.name %></h3>
        <div>
            <%= foundUser.address %>
            <p>
                <strong>Email : </strong><%= foundUser.email %>
                <strong>Phone Number : </strong><%= foundUser.phoneNumber %>
                <strong>My Bookings</strong>
                <% bookings.forEach((booking) =>{ %>
                    <%= booking.day %>
                    <%= booking.time %>
                <% }) %>
            </p>
        </div>
        
        <a href="/user/<%=foundUser._id%>/edit"  >Edit</a>
        <form style="display: inline-block;" action="/user/<%=foundUser._id%>?_method=DELETE" method="POST">
            <input type="submit"  value="DELETE">
            </form>

     </article>
</body>
</html>