<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Company edit page</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container w-50">
        <h2 class="text-center mt-4">Edit Account</h2>

        <form action="/company/<%=company._id%>?_method=PUT" method="POST" class="mt-4 white-bg">

             
                  <div class="form-group">
                  <label for="name">Name</label>
                  <input class="form-control" type="text" name="name" value="<%=company.name %>">
                  </div>

  
                  <div class="form-group">
                      <label for="address">Address</label>
                      <input class="form-control" type="text" name="address" value="<%=company.address %>">
                  </div>
                
                  <div class="form-group">
                      <label for="phoneNumber">Phone Number</label>
                      <input class="form-control" type="text" name="phoneNumber" value="<%=company.phoneNumber%>">
                  </div>

                  <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email"  value="<%=company.email %>">
                </div>
                  
                <input type="submit" value="Submit Changes" class="btn btn-secondary btn-lg btn-block red-bg" />
              </form>
        </div>
        <%- include('../partials/footer') %>

</body>
</html>