<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>company details</title>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container">
      <h1>Company Show Page</h1>

      <article>
        <h3><%=company.name %></h3>
        <div>
          <%= company.address %>
          <p>
            <strong>Email : </strong><%= company.email %>
            <strong>Phone Number : </strong><%= company.phoneNumber %>
          </p>
        </div>
      </article>

      <hr />
    </div>
    <section>
          
      <% const monthYear = new Date() %> 
      <button type="button" class="btn btn-outline-success p-4 ">
          <h2><%= fullMonths[monthYear.getMonth()] %> <%= monthYear.getFullYear()%> </h2>
    </button>
      
        <div class="card border-primary mb-3 " style="max-width: 100%; ">
        <div class="card-header"><h3>Available Bookings</h3></div>
        <div>


         <% bookings.forEach((booking) =>{ %>
             <%   const day = new Date(booking.day)  %> 


             <button type="button" class="btn btn-outline-info">
                 <a href="/booking/<%= booking._id%>">
                    <%= months[day.getMonth()] %>
                    <%= day.getDate()%></a>
                <br>
                 <a href="/booking/<%= booking._id%>"><%= days[day.getDay()] %> - <%= booking.time %><br><%= booking.company.name %></a><br>

            </button>
               
 
             <%  }) %> 

        </div>
        </div>
      </div>
</section>
  </body>
</html>
