<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Bookings</title>
</head>
<body>
    <%- include('../partials/nav') %>
    
    <div class="container">
    
    <h1>Booking Index Page</h1>
    
    <section>
          <h3>Avaiable Bookings</h3>
          <% const monthYear = new Date() %> 
          <button type="button" class="btn btn-outline-success"><%= fullMonths[monthYear.getMonth()] %> <%= monthYear.getFullYear()%> </button>
          

           <div>

               <% bookings.forEach((booking) =>{ %>
                   <%   const day = new Date(booking.day)  %> 

                <button type="button" class="btn btn-outline-info">

                    <a href="/booking/<%= booking._id%>"><%= months[day.getMonth()] %>  <%= day.getDate()%></a><br>
                    <a href="/booking/<%= booking._id%>"><%= days[day.getDay()] %> - <%= booking.time %></a><br>

                </button>
                  
    
                <%  }) %> 

           </div>
            
      
      
    </section>
</div>
</body>
</html>