<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Booking Details</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <div class="container w-50 center-div mt-3"> 

        <h3>Booking Details</h3>
        
        <div class="mt-4 white-bg text-center">

            <h4><%=booking.day %></h4>
            <strong> <%= booking.time %></strong>
            <p> <%= booking.message %></p>

            <form action="/booking/<%= booking._id %>/join?_method=PUT" method="POST">
            
                <input type="submit" value="Book This" class="btn btn-secondary btn-lg btn-block red-bg">
            </form>

            <% if (isAdmin) { %>
                <div>
    
                    <a href="/booking/<%=booking._id%>/edit"  >Edit</a>
                    <form style="display: inline-block;" action="/booking/<%=booking._id%>?_method=DELETE" method="POST">
                        <input type="submit"  value="DELETE All">
                     </form>
                
                </div>
            <% } %>
    
        </div>
        </div> 
        <%- include('../partials/footer') %>
</body>
</html>