<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Booking details</title>
</head>
<body>
    <%- include('../partials/nav') %>

        <h1>Booking Show Page</h1>



    <article>
        
         <div>
            <p>
                <h4><%=booking.day %></h4>
              <strong> <%= booking.time %></strong>
                       
            </p>
               <p> <%= booking.message %></p>
   
         </div>




         <form action="/booking/<%= booking._id %>/join?_method=PUT" method="POST">
            <p>
                <select name="user">
                  <option default>Select a User</option>
                  <% user.forEach(user => { %>
                  <option value="<%= user._id %>"><%= user.name %></option>
                  <% }) %>
                </select>
            </p>
            <input type="submit" value="SUBMIT">
        </form>





        

        <div>

            <a href="/booking/<%=booking._id%>/edit"  >Edit</a>
            <form style="display: inline-block;" action="/booking/<%=booking._id%>?_method=DELETE" method="POST">
                <input type="submit"  value="DELETE All">
             </form>
        
        </div>
       

     </article>

  


</body>
</html>